<div class="container">
  <h2>Search Stamp ID</h2>

  <form #searchStamp="ngForm" (ngSubmit)="onverify(searchStamp.value)">
    <div class="form-group">
      <label>Stamp ID</label>
      <input type="text" class="form-control" name="stamp" ngModel>
    </div>

<button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="row">
    <div class="col-md-3">
      

<strong>Student Name</strong>

    </div>
    <div class="col-md-9">
<div #dataContainer></div>
</div>
  </div>


  <div class="row">
    <div class="col-md-3">
      

<strong>Course Name</strong>

    </div>
    <div class="col-md-9">
<div #dataContainer2></div>
</div>
  </div>


  <div class="row">
    <div class="col-md-3">
      

<strong>NRIC/PASSPORT</strong>

    </div>
<div class="col-md-9">
<div #dataContainer3></div>
</div>
  </div>


  <div class="row">
    <div class="col-md-3">
      

<strong>Start Date</strong>

    </div>
<div class="col-md-9">
<div #dataContainer7></div>
</div>
  </div>

  <div class="row">
    <div class="col-md-3">
      

<strong>End Date</strong>

    </div>
<div class="col-md-9">
<div #dataContainer8></div>
</div>
  </div>


  <div class="row">
    <div class="col-md-3">
      

<strong>Stampery ID</strong>

    </div>
  

 
<div class="col-md-9">
<div #dataContainer4></div>
</div>
  </div>



  <div class="row">
    <div class="col-md-3">
      

<strong>Timestamp</strong>

    </div>
    <div class="col-md-9">
<div #dataContainer5></div>
</div>
  </div>


  <div class="row">
    <div class="col-md-3">
      

<strong>Stamp Validity</strong>

    </div>
    <div class="col-md-9">
<div #dataContainer6></div>
</div>
  </div>


  